USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddCollaborator]    Script Date: 2/28/2020 6:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddCollaborator]
@NoteId int,
@CreatedDate DateTime,
@ModifiedDate DateTime,
@ReceiverId int 
AS
BEGIN
	insert into Collaborator(NoteId, CreatedId, CreatedDate, ModifiedDate, ReceiverId, ReceiverProfile)
	select note.Id, note.UserId, @CreatedDate, @ModifiedDate, reg.Id, reg.Profile 
	from Notes note 
	join Registrations reg on reg.Id!=note.UserId and reg.Id=@ReceiverId and note.Id=@NoteId 
	select * from Collaborator 
	print 'Add Collaborator Successfully'
END