USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddLabel]    Script Date: 2/28/2020 6:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddLabel]
@Label varchar(50),
@CreatedDate DateTime,
@ModifiedDate DateTime,
@UserId int
AS
BEGIN
	insert into Label (Label, CreatedDate, ModifiedDate, UserId)
	values (@Label, @CreatedDate, @ModifiedDate, @UserId)
	select * from Label
END