USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddLabelByLabelId]    Script Date: 2/28/2020 6:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddLabelByLabelId] 
@NoteId int, 
@LabelId int
AS
BEGIN
	 insert into NoteLabel(Label, CreatedDate, ModifiedDate, UserId, NoteId, LabelId) 
	 select lab.Label, lab.CreatedDate, lab.ModifiedDate, reg.Id, note.Id, lab.Id
     from Label lab
     join Registrations reg on reg.Id=lab.UserId 
     join Notes note on note.UserId=lab.UserId 
     where note.Id=@NoteId and lab.Id=@LabelId
	 print 'Label Added Successfully'
END
