USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddProfile]    Script Date: 2/28/2020 6:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddProfile]
@UserId int,
@Profile varchar(50)
AS
BEGIN
	if exists (select * from Registrations where Id=@UserId)
	begin
	update Registrations
	set Profile=@Profile
	where Id=@UserId
	select * from Registrations where Id=@UserId
	print 'Profile Set Successfully'
	end
	else
	print 'Id not present'
END
