USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddReminder]    Script Date: 2/28/2020 6:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddReminder]
@NoteId int,
@UserId int,
@Reminder DateTime
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId)
	begin
	update Notes 
	set Reminder=@Reminder where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Add reminder successfully'
	end
	else
	print 'Note not available'
END
