USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 2/28/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddUser]
(
@FirstName varchar(50),
@LastName varchar(50),
@Email varchar(50),
@Password varchar(50),
@MobileNumber varchar(50),
@Profile varchar(50),
@Service varchar(50),
@UserType varchar(50)
)
AS
BEGIN
declare @Exist int 
if exists (select Email from Registrations where Email=@Email)
begin
begin transaction
set @Exist=1
rollback transaction
print 'Email id already present'
end
else
begin
begin transaction
set @Exist=0
insert into Registrations (FirstName, LastName, Email, Password, MobileNumber, Profile, Service, UserType)
values(@FirstName, @LastName, @Email, @Password, @MobileNumber, @Profile, @Service, @UserType)
select * from Registrations where Email=@Email
commit transaction
print 'Register Successfully'
end
END
