USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AllArchiveNotes]    Script Date: 2/28/2020 6:21:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AllArchiveNotes]
@UserId int
AS
BEGIN
	if exists (select * from Notes where UserId=@UserId)
	begin
	select * from Notes where UserId=@UserId and IsArchive=1
	print 'All Archive Notes'
	end
	else 
	print 'Notes Note Available'
END
