USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AllPinNotes]    Script Date: 2/28/2020 6:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AllPinNotes]
@UserId int
AS
BEGIN
	if exists(select * from Notes where UserId=@UserId)
	begin
	select * from Notes where UserId=@UserId and IsPin=1
	print 'All Pin Notes'
	end
	else
	print 'Notes Not Available'
END