USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[AllTrashNotes]    Script Date: 2/28/2020 6:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AllTrashNotes]
@UserId int
AS
BEGIN
	if exists (select * from Notes where UserId=@UserId)
	begin
	select * from Notes where UserId=@UserId and IsTrash=1
	print 'All Trash Notes'
	end
	else
	print 'Trash notes not found'
END
