USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[ArchiveNote]    Script Date: 2/28/2020 6:22:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ArchiveNote]
@NoteId int,
@UserId int 
AS
BEGIN
	if exists (select IsArchive from Notes where Id=@NoteId and UserId=@UserId and IsArchive=0)
	begin
	update Notes
	set IsArchive=1, IsPin=0, IsTrash=0 where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note is Archive'
	end
	else
	update Notes
	set IsArchive=0, IsPin=0, IsTrash=0  where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note is UnArchive'
END