USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[ColorNote]    Script Date: 2/28/2020 6:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ColorNote]
@UserId int,
@NoteId int,
@Color varchar(50)
AS
BEGIN
	if exists(select * from Notes where Id=@NoteId and UserId=@UserId)
	begin
	update Notes 
	set Color=@Color where Id=@NoteId and UserId=@UserId
	select * from Notes Where Id=@NoteId and UserId=@UserId
	print 'color is set'
	end
	else
	print 'Note not available'
END