USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[DeleteNote]    Script Date: 2/28/2020 6:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteNote]
@NoteId int,
@UserId int
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId)
	begin
	declare @Status int 
	Delete from Notes where Id=@NoteId
	set @Status=1
	end
	else
	begin
	set @Status=0
	end
END
return @Status