USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCollaborator]    Script Date: 2/28/2020 6:22:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteCollaborator]
@CollaboratorId int,
@NoteId int
AS
BEGIN
	if exists (select * from Collaborator where Id=@CollaboratorId and NoteId=@NoteId)
	begin
	delete from Collaborator where Id=@CollaboratorId and NoteId=@NoteId
	print 'Delete Collaborator'
	end
	print 'Note not available'
END
