USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[DeleteLabel]    Script Date: 2/28/2020 6:23:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteLabel]
@Id int,
@UserId int
AS
BEGIN
	if exists(select * from Label where Id=@Id and UserId=@UserId)
	begin
	delete from Label where Id=@Id and UserId=@UserId
	end
END
