USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[DeleteReminder]    Script Date: 2/28/2020 6:23:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteReminder]
@NoteId int,
@UserId int
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId)
	begin
	update Notes 
	set Reminder=null
	where Id=@NoteId and UserId=@UserId
	print 'Delete Reminder'
	end
	else
	print 'Note Note Availabel'
END
