USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[EmptyBin]    Script Date: 2/28/2020 6:23:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EmptyBin]
@UserId int 
AS
BEGIN
	if exists (select * from Notes where UserId=@UserId)
	begin
	delete from Notes where UserId=@UserId and IsTrash=0
	print 'Empty bin'
	end
	else
	print 'Trash Note Not Available'
END
