USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[ForgetPassword]    Script Date: 2/28/2020 6:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ForgetPassword]
(
@Email varchar(50)
)
AS
BEGIN
	select * from Registrations where Email=@Email
END
