USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[GetAllLabels]    Script Date: 2/28/2020 6:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllLabels]
@UserId int
AS
BEGIN
	select * from Label where UserId=@UserId
END
