USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[GetAllNotes]    Script Date: 2/28/2020 6:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllNotes]
@UserId int
AS
BEGIN
	select * from Notes where UserId=@UserId
END
