USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCollaborator]    Script Date: 2/28/2020 6:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllCollaborator]
@UserId int
AS
BEGIN
	if exists(select * from Collaborator where CreatedId=@UserId)
	begin
	select * from Collaborator where CreatedId=@UserId 
	print 'All Collaborators'
	end
	else
	print 'collaborators not found'
END
