USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[GetNotesWithCollaboratorAndLabel]    Script Date: 2/28/2020 6:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetNotesWithCollaboratorAndLabel]
@UserId int 
AS
BEGIN
	select note.Id, note.Title, note.Description, note.Reminder, note.Color, note.Image, note.CreatedDate, note.ModifiedDate, note.IsArchive, note.IsPin, note.IsTrash, note.UserId, 
			 lab.Label,lab.LabelId,
			 col.ReceiverId, col.ReceiverProfile
    from Notes note 
     left join NoteLabel lab on lab.UserId=note.UserId and lab.NoteId=note.Id 
     left join Collaborator col on col.CreatedId=note.UserId and col.NoteId=note.Id
	 where note.UserId=@UserId
END