USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[GetNotesWithLables]    Script Date: 2/28/2020 6:25:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetNotesWithLables]
AS
BEGIN
	select note.Id, note.Title, note.Description, note.CreatedDate, note.ModifiedDate, note.Color, note.Reminder, note.Image, note.IsArchive, note.IsPin, note.IsTrash, note.UserId, lab.LabelId, lab.Label, lab.CreatedDate, lab.ModifiedDate, lab.NoteId, lab.UserId
	from Notes note
	join NoteLabel lab on lab.UserId=note.UserId and lab.NoteId=note.Id
END
