USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[ImageOnNote]    Script Date: 2/28/2020 6:26:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ImageOnNote]
@NoteId int,
@UserId int,
@Image varchar(50)
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId)
	begin
	update Notes 
	set Image=@Image where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Image Uploaded Successfully'
	end
	else
	print 'Note not available'
END