USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 2/28/2020 6:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LoginUser]
 @Email varchar(50),
 @Password varchar(50)
AS
BEGIN
declare @Status int
	If Exists(SELECT Email, Password from Registrations where Email=@Email AND Password=@Password)
    begin
	begin transaction
	set @Status=1
	SELECT Id, FirstName, LastName, Email, Password, MobileNumber, Profile, Service, UserType from Registrations where Email=@Email AND Password=@Password
		commit transaction
	print 'Login Successfully'
	end
	else
	begin
	begin transaction
	set @Status=0
	rollback transaction
	print 'Failed To Login'
	end
select @Status	
END