USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[NoteUpdate]    Script Date: 2/28/2020 6:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[NoteUpdate]
(
@Id int,
@Title varchar(50) = null,
@Description varchar(50) = null,
@ModifiedDate DateTime,
@UserId int
)
AS
BEGIN
declare @Status int
if exists(select * from Notes where Id=@Id)
begin
	update Notes 
	set Title=IsNull(@Title, Title),
	    Description=IsNull(@Description, Description),
		ModifiedDate=@ModifiedDate
	    where Id=@Id and UserId=@UserId
	set @Status=1
end
else
begin
	set @Status=0
end
END
return @Status