USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[NoteAdd]    Script Date: 2/28/2020 6:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[NoteAdd]
(
@Title varchar(50),
@Description varchar(50),
@Reminder DateTime,
@Color varchar(50),
@Image varchar(50),
@CreatedDate DateTime,
@ModifiedDate DateTime,
@IsPin bit,
@IsArchive bit,
@IsTrash bit,
@UserId int
)
AS
BEGIN
	insert into Notes (Title, Description, Reminder, Color, Image, CreatedDate, ModifiedDate, IsPin, IsArchive, IsTrash, UserId)
values(@Title, @Description, @Reminder, @Color, @Image, @CreatedDate, @ModifiedDate, @IsPin, @IsArchive, @IsTrash, @UserId)
select * from Notes
END