USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[PinNote]    Script Date: 2/28/2020 6:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PinNote]
@NoteId int,
@UserId int
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId and IsPin=0)
	begin
	update Notes
	set IsPin=1, IsArchive=0, IsTrash=0 where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note is pin'
	end
	else
	begin
	update Notes 
	set IsPin=0, IsArchive=0, IsTrash=0 where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note is Unpin'
	end
END