USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[ResetPassword]    Script Date: 2/28/2020 6:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ResetPassword]
(
@Email varchar(50),
@NewPassword varchar(50)
)
AS
BEGIN
	declare @Status int 
	if exists(select * from Registrations where Email=@Email)
	begin
		Update Registrations set Password=@NewPassword where Email=@Email
		set @Status=1
	end
	else
		begin
			set @Status=0
		end
END
return @Status