USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[SearchNote]    Script Date: 2/28/2020 6:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SearchNote]
@UserId int,
@SearchWord varchar(50)
AS
BEGIN
	select * from Notes where Title like '%' +@SearchWord+ '%' or Description like '%' +@SearchWord+ '%' and UserId=@UserId
END
