USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[TrashNote]    Script Date: 2/28/2020 6:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TrashNote]
@NoteId int,
@UserId int
AS
BEGIN
	if exists (select * from Notes where Id=@NoteId and UserId=@UserId and IsTrash=0)
	begin
	update Notes 
	set IsTrash=1, IsArchive=0, IsPin=0 where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note Is Trash'
	end 
	else
	begin
	update Notes 
	set IsTrash=0 where Id=@NoteId and UserId=@UserId
	select * from Notes where Id=@NoteId and UserId=@UserId
	print 'Note is Untrash'
	end
END