USE [GoogleKeep]
GO
/****** Object:  StoredProcedure [dbo].[UpdateLabel]    Script Date: 2/28/2020 6:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateLabel]
@Id int,
@Label varchar(50),
@ModifiedDate DateTime,
@UserId int
AS
BEGIN
	update Label 
	set Label=@Label where Id=@Id and UserId=@UserId
	select * from Label
END